<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siva Sports Hub</title>
    <link rel="icon" href="../images/icon/icon.avif">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Add this line in the head section of your HTML file -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-md sticky-top bg-dark py-0 shadow">
        <div class="container-fluid">
            <a class="navbar-brand " href="#"><img src="../images/logo/logo.png" alt="logo" style="width: 3.5rem;"></a>
            <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse ">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ">
                        <a href="#about" class="nav-link text-white">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#facilities" class="nav-link text-white">Facilities</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pricing" class="nav-link text-white">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#events" class="nav-link text-white">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gallery" class="nav-link text-white">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link text-white">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- The carousel items will be dynamically added here -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="about" class="section">
        
    </div>

    <div id="facilities" class="section">
        
    </div>

    <div id="pricing" class="section">
        <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
                <div class="container py-5">
                    <h1 class="text-body-emphasis">Pricing</h1>
                    <div id="pricingContent" class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add this code within the "events" section -->
<div id="events" class="section">
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">Events</h1>
                <p>Stay tuned for exciting football events and tournaments happening at Siva Sports Hub...</p>

                <!-- Event Details -->
                <div id = "eventContents" class="mb-4">
                    <!-- Add more events as needed -->
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Add this code within the "gallery" section -->
<div id="gallery" class="section">
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">Gallery</h1>
                <p>Take a visual tour of our football turf and the thrilling moments shared by our players...</p>

                <!-- Image Gallery -->
                <div id="galleryContent"class="row row-cols-1 row-cols-md-3 g-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Add this code within the "contact" section -->
<!-- Add this code within the "contact" section -->
<div id="contact" class="section">
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">Contact</h1>
                <p>For inquiries, bookings, or any questions, feel free to reach out to us...</p>

                <!-- Contact Numbers -->
                <div id="contactDetails" class="mb-4">
                    <h3 class="text-body-secondary">Contact Numbers</h3>
                </div>

            </div>
        </div>
    </div>
</div>



    <div id="disclaimer" class="section">
        <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
                <div id="disclaimerContent"  class="container py-5">
                    
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="text-bg-dark d-flex justify-content-center align-items-center pt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="h5">
                        Follow us on
                    </p>
                    <!-- Remove existing content and add social media icons -->
                    <p id = "addicons">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    


    
    <script src="../scripts/loadCarousel.js"></script>
    <script src="../scripts/loadAbout.js"></script>
    <script src="../scripts/loadFacilities.js"></script>
    <script src="../scripts/loadPricing.js"></script>
    <script src="../scripts/loadEvents.js"></script>
    <script src="../scripts/loadGallery.js"></script>
    <script src="../scripts/loadContact.js"></script>
    <script src="../scripts/loadDisclaimer.js"></script>
    <script src="../scripts/loadIcons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>